.mat-card {
  margin-top: 1%;
}

.cat_form {
  width: 50%;
  margin-top: 3%;
  margin-right: auto;
  margin-bottom: 3%;
  margin-left: auto;
}

.cat_input {
  width: 46%;
  margin-right: 4%;
}

.submit_button {
  margin-right: 4%;
  margin-top: 4%;
}
