<h2 mat-dialog-title>Editer</h2>

<form [formGroup]="EditForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="demo-full-width">
      <mat-label>Nom :</mat-label>
      <input matInput placeholder="Nom" type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <mat-label>Fonction :</mat-label>
      <input matInput placeholder="Fonction" type="text" formControlName="function">
    </mat-form-field>

    <mat-form-field class="demo-full-width">
      <mat-label>Marge en % :</mat-label>
      <input matInput placeholder="Marge" type="number" formControlName="marge">
    </mat-form-field>

    <!-- <mat-form-field class="demo-full-width">
      <mat-label>Image :</mat-label>
      <ngx-mat-file-input (change)="onSelectFile($event)" [accept]="'.jpg, .jpeg, .png'"
                          placeholder="Votre image doit etre en 250px par 250px"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field> -->

  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="submit" mat-dialog-close cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</form>
