.mat-card {
  margin-bottom: 10px;
}

.user_form {
  text-align:center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.user_input {
  width: 23%;
  margin-right: 1%;
}

.user_submit{
  text-align:center;
}
